@page
@model Web_Log_In_ASP.NET.Models.IndexModel

@{
    ViewData["Title"] = "Index";
}
<h1>Log In</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Username</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="password" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Log In" class="btn btn-primary"/>
                <a asp-page="SignUp">Sign Up</a>
            </div>
        </form>
    </div>
</div>
